{:deps    {org.clojure/clojure {:mvn/version "1.10.0-alpha8"}
           reptile/body        {:git/url "https://github.com/raymcdermott/reptile-body.git"
                                :sha     "a033cb09abbbbacdc00ebb60fbcd8a8673c21b69"}}
 :aliases {:reptile {:main-opts ["-m" "reptile.tail.server"]}}}






