{:deps    {org.clojure/clojure {:mvn/version "1.10.0-alpha8"}
           reptile-server      {:local/root "/Users/ray/dev/reptile/reptile-lib"}}
 :aliases {:reptile {:main-opts ["-m" "reptile.tail.server"]}}}




