{:deps    {clojure-complete             {:mvn/version "0.2.4" :exclusions [[org.clojure/clojure]]}
           org.clojure/tools.nrepl      {:mvn/version "0.2.12" :exclusions [[org.clojure/clojure]]}
           org.clojure/clojure          {:mvn/version "1.10.0-alpha7"}
           org.clojure/core.async       {:mvn/version "0.4.474"}
           org.clojure/tools.logging    {:mvn/version "0.4.0"}
           aleph                        {:mvn/version "0.4.4"}
           gloss                        {:mvn/version "0.2.6"}
           compojure                    {:mvn/version "1.6.0"}
           com.taoensso/sente           {:mvn/version "1.12.0"}
           com.taoensso/timbre          {:mvn/version "4.10.0"}
           ring                         {:mvn/version "1.6.3"}
           ring/ring-defaults           {:mvn/version "0.3.1"}
           venantius/glow               {:mvn/version "0.1.5"}
           hickory                      {:mvn/version "0.7.1"}
           com.cognitect/transit-clj    {:mvn/version "0.8.300"}
           com.cognitect/transit-cljs   {:mvn/version "0.8.243"}
           org.clojure/tools.deps.alpha {:git/url "https://github.com/clojure/tools.deps.alpha.git"
                                         :sha     "d492e97259c013ba401c5238842cd3445839d020"}}
 :aliases {:reptile {:main-opts ["-m" "reptile.tail.server"]}}}
